:root {
    --model-bc: hsl(261, 11%, 22%);
    --model-bc-ligher: hsl(261, 11%, 30%);
    --main-color: hsl(356, 88%, 90%);
    --sec-color: hsl(260, 19%, 60%);
    --border-color: hsl(260, 19%, 60%);
    --bc-color: hsl(261, 11%, 15%);
    --h1-color: hsl(260, 19%, 60%);
    --shadow: hsl(260, 24%, 10%);
}

/* width */
/* Common styles for both horizontal and vertical scrollbars */
::-webkit-scrollbar {
    width: 24px;
    height: 16px;
}

::-webkit-scrollbar-track {
    background: transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
    border: 8px solid transparent;
    background: var(--sec-color);
    border-radius: 100px;
    background-clip: padding-box;
}

/* Mozilla (Firefox) scrollbar styles */
/* Similar to webkit-scrollbar styles */
/* ... */

/* Text selection styles */
::-moz-selection {
    color: white !important;
    background-color: var(--sec-color) !important;
    box-sizing: border-box !important;
}

::selection {
    color: white !important;
    background-color: var(--sec-color) !important;
    box-sizing: border-box !important;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-tap-highlight-color: transparent;
    color: white;
    font-size: 1.2rem;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

* {
    box-sizing: border-box !important;
}

body {
    height: 100dvh;
    width: 100dvw;
    background-color: var(--bc-color);
    background-image: radial-gradient(var(--h1-color) 1.25px, transparent 1.25px), radial-gradient(var(--h1-color) 1.25px, var(--bc-color) 1.25px);
    background-size: 50px 50px;
    background-position: 0 0, 25px 25px;
}

.container {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    overflow: hidden;
    overflow-y: auto;
}

.boxes {
    width: 550px;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.box {
    width: 100%;
    height: fit-content;
    background-color: var(--model-bc);
    border-radius: 9% 11% 6% 9% / 16% 11% 24% 19%;
    outline-style: dashed;
    outline-color: var(--border-color);
    outline-width: 2px;
    outline-offset: -8px;
    text-align: center;
    padding: 24px;
    overflow: unset;
    -webkit-box-shadow: 0px 0px 34px -8px var(--shadow);
    box-shadow: 0px 0px 34px -8px var(--shadow);
    box-sizing: border-box;
    overflow: unset;
    transition: border-radius 250ms;
}

h1 {
    font-size: 1.2em;
    margin: 4px;
    margin-top: -12px;
    color: var(--h1-color);
}

hr {
    border: none;
    border-top: 2px dashed var(--border-color);
    background-color: transparent;
    opacity: 0.5;
}

a,
a:visited {
    color: white;
}


b {
    font-weight: normal;
    margin-top: 12px;
}

b a {
    text-decoration: solid;
    text-decoration-line: underline;
    cursor: pointer;
}

.description {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    text-align: left;
    gap: 8px;
    line-height: 24px;
}

.description .info p {
    margin-top: 0;
}

.avatar {
    width: 124px;
    height: 124px;
    background-color: var(--model-bc-ligher);
    border-radius: 24px;
    user-select: none;
}

*:is(a, b, h1)::selection {
    background-color: var(--main-color);
    color: var(--model-bc);
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;
}

.socials a {
    width: 45px;
    height: 45px;
    aspect-ratio: 1;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: saturate(0);
    cursor: pointer;
    user-select: none;
    border-radius: 12px;
    border-color: hsla(0, 0%, 100%, 0.40);
    border-width: 2px;
    border-style: dashed;
    position: relative;
}

.socials a::after {
    content: attr(data-dropdown);
    position: absolute;
    background-color: hsl(260, 25%, 60%);
    color: white;
    white-space: nowrap;
    padding: 4px 8px 4px 8px;
    z-index: 10;
    border-radius: 8px;
    font-size: 0.9em;
    bottom: -2.3rem;
    opacity: 0;
    transition: 250ms;
    pointer-events: none;
}

.socials a::before {
    content: "";
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid hsl(260, 25%, 60%);
    bottom: -15px;
    left: 50%;
    opacity: 0;
    transition: 250ms;
    transform: translateX(-50%);
    pointer-events: none;
}

.socials a:hover::after {
    opacity: 1;
}

.socials a:hover::before {
    opacity: 1;
}

.socials img {
    width: 100%;
    height: 100%;
    user-select: none;
    filter: brightness(100);
    opacity: 0.5;
}

.socials a {
    --opacity: 0.25;
}

.socials a:hover>img {
    filter: brightness(1);
    opacity: 1;
}

.socials a:hover {
    filter: saturate(1);
    border-color: hsl(260, 19%, 60%);
    background-color: hsla(260, 81%, 72%, var(--opacity));
    border-style: solid;
}

@media only screen and (max-width: 550px) {
    html {
        font-size: 1rem;
    }

    .avatar {
        width: 100px;
        height: 100px;
    }

    .socials a {
        width: 40px;
        height: 40px;
    }

    .description {
        line-height: 20px;
        flex-direction: column;
    }

    .box {
        border-radius: 24px;
    }
}