:root {
    --model-bc: hsl(0, 0%, 20%);
    --main-color: hsl(356, 88%, 90%);
    --border-color: hsl(260, 19%, 50%);
    --bc-color: hsl(0, 0%, 10%);
    --h1-color: hsl(260, 19%, 60%);
}

html,
body {
    color: white;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
}

.container {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: var(--bc-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(0.2em);
    background-image: url(src/desktop_background.webp);
    opacity: 0.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    width: 350px;
    height: auto;
    background-color: var(--model-bc);
    border-radius: 8px;
    border-style: solid;
    border-color: var(--border-color);
    border-width: 2px;
    text-align: center;
    padding: 8px;
    margin: 8px;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
}

h1 {
    font-size: 16px;
    margin: 4px;
    color: var(--h1-color);
}

hr {
    border: 1px solid var(--border-color);
    background-color: var(--border-color);
    opacity: 1;
}

b {
    font-weight: normal;
    margin-top: 8px;
}

b a {
    text-decoration: solid;
    text-decoration-line: underline;
    cursor: pointer;
}

.description {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: left;
    gap: 8px;
    line-height: 16px;
}

.avatar {
    width: 100px;
    height: 100px;
    background-color: var(--model-bc);
    border-radius: 8px;
    user-select: none;
}

*:is(a, b, h1)::selection {
    background-color: var(--main-color);
    color: var(--model-bc);
}

.socials {
    display: inline-grid;
    grid-auto-flow: column dense;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 8px;
    filter: invert(1);
}

.socials img {
    width: 35px;
    height: 35px;
    transition: 250ms;
    cursor: pointer;
    opacity: 0.5;
    user-select: none;
}

.socials img:hover {
    opacity: 1;
}

@media only screen and (max-width: 390px) {
    main {
        width: 100%
    }
}